@import 'https://fonts.googleapis.com/css?family=Caveat';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
	background: url(../Images/BIRA_logo.png);
	background-size: contain;
	width: 6em;
	height: 2.4em;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 1px;
	margin-right: 5px;
	transition: transform 0.2s ease-out;
}

.navbar-brand:hover {
	transform: scale(1.12);
}

div.navbar-collapse *{
	transition: background 0.1s ease-out, color 0.1s ease-out;
}

div.navbar.navbar-default.navbar-fixed-top li > a:hover {
	background: #ccc;
}

.flex {
	display: flex;
}

.jumbotron {
	margin-top: 1em;
}

.jumbo-logo {
	display: block;
	width: 75%;
	margin: 0 auto;
}

blockquote {
	font-family: Caveat;
	font-size: 1.5em;
}

.btn {
	transition: background 0.1s ease-out, color 0.1s ease-out;
}

.alert {
	margin-top: 20px;
}

.beer-and-bubbles {
	position: relative;
}

.bubble1, .bubble2, .bubble3{
	position: absolute;
}

.bubble1, .bubble2, .bubble3 {
	left: 0;
	top: 60px;
}

@-webkit-keyframes bubble1Move {
	0% { top: 60px;}
	50% { left: 5px;}
	100% { top: -45px;}
}

@-webkit-keyframes bubble2Move {
	from { top: 70px;}
	50% { right: 4px;}
	to { top: -40px;}
}

@-webkit-keyframes bubble3Move {
	from { top: 70px;}
	50% { left: 6px;}
	to { top: -50px;}
}

.bubble1 {
	animation: 5.6s 0.2s bubble1Move linear infinite;
}

.bubble2 {
	animation: 5s 0.6s bubble2Move linear infinite;
}

.bubble3 {
	animation: 5.5s 0.3s bubble3Move linear infinite;
}
