@import 'https://fonts.googleapis.com/css?family=Caveat';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
	background-image: url('../Images/BIRA_logo.png');
	background-size: contain;
	width: 6em;
	height: 2.4em;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 1px;
	margin-right: 5px;
	transition: transform 0.2s ease-out;
}

.navbar-brand:hover {
	transform: scale(1.12);
}

div.navbar-collapse *{
	transition: background 0.1s ease-out, color 0.1s ease-out;
}

div.navbar.navbar-default.navbar-fixed-top li > a:hover {
	background: #ccc;
}

.flex {
	display: flex;
}

.jumbotron {
	margin-top: 1em;
}

.jumbo-logo {
	display: block;
	width: 75%;
	margin: 0 auto;
}

blockquote {
	font-family: Caveat;
	font-size: 1.5em;
}

.btn {
	transition: background 0.1s ease-out, color 0.1s ease-out;
}

.alert {
	margin-top: 20px;
}

.beer-and-bubbles {
	position: relative;
}

.bubble1, .bubble2, .bubble3{
	position: absolute;
	border: 3px solid #003366;
	border-radius: 100%;
	top: 75px;
	background-image: url(../Images/bubblePop.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50px;
}

.bubble1 {
	width: 25px;
	height: 25px;
	left: 50px;
	animation: 5.6s 0.6s bubble1Move linear infinite, 5.6s 0.6s bubblePop step-end infinite;
}

.bubble1 .bubbleReflection {
	animation: 5.6s 0.6s bubblePop step-end infinite;
}

@-webkit-keyframes bubble1Move {
	0% { top: 75px;}
	50% { left: 45px;}
	100% { top: -45px;}
}

.bubble2 {
	width: 45px;
	height: 45px;
	left: 80px;
	animation: 5s bubble2Move linear infinite, 5s bubblePop step-end infinite;
}

.bubble2 .bubbleReflection {
	animation: 5s bubblePop step-end infinite;
}

@-webkit-keyframes bubble2Move {
	0% { top: 70px;}
	50% { left: 85px;}
	100% { top: -45px;}
}

.bubble3 {
	width: 25px;
	height: 25px;
	left: 135px;
	animation: 8s 0.2s bubble3Move linear infinite, 8s 0.2s bubblePop step-end infinite;
}

.bubble3 .bubbleReflection {
	animation: 8s 0.2s bubblePop step-end infinite;
}

@-webkit-keyframes bubble3Move {
	0% { top: 70px;}
	50% { left: 145px; }
	100% { top: -45px;}
}

.bubbleReflection {
	position: absolute;
	border: 2px solid #003366;
	width: 40%;
	height: 40%;
	left: 40%;
	top: 10%;
	border-radius: 100%;
}

@-webkit-keyframes bubblePop {
	0% { background-position: 50px;}
	99% { background-position: 0; border: none;}	
}