@using Microsoft.AspNet.Identity
@model IEnumerable<BIRA_Issue_Tracker.Models.IssueTracker.Issue>

@{
	ViewBag.Title = "Assigned to me";
}

<h2>Issues, assigned to me</h2>

<p>
	@Html.ActionLink("Submit New", "New", null, new { @class = "btn btn-success" })
	@Html.ActionLink("Assigned to me", "AssignedToMe", null, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_TablePartial")