@using Microsoft.AspNet.Identity
@model IEnumerable<BIRA_Issue_Tracker.Models.IssueTracker.Issue>

@{
	ViewBag.Title = $"Issues tagged \"{ViewBag.TagName}\"";
}

@*todo: link to tag details?*@
<h2>Issues tagged <i>@ViewBag.TagName</i></h2>

<p>
	@Html.ActionLink("Submit New", "New", null, new {@class = "btn btn-success"})
</p>
@Html.Partial("_TablePartial")